* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background-color: #ffc9ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#game {
  padding: 50px 0;
  display: flex;
}
.letter-space {
  width: 50px;

  margin: 0 5px;
}
.letter-space-blank {
  border-bottom: 5px solid #2c2c2c;
}
.letter-space-space {
  min-width: 60px;
}
.letter-space-guessed {
  border-bottom: none;
  line-height: 1rem;
  font-size: 2rem;
  padding: 5px;
  text-align: center;
}
#alphabet {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.letter {
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 1rem;
  transition: all 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
}
.used-letter {
  background-color: #ececec !important;
  cursor: default;
}
.unguessed-letter:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.details {
  position: fixed;
  top: 0;
}
.details h2,
.details span {
  margin: 20px 0;
  font-size: 1.4rem;
}
.game-over {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #ff00003f;
}

.hidden {
  display: none;
}
